@page
@model Luisa.DateCalculator.Pages.DatesModel
@{
}
<form method="post">
    <input type="datetime-local" id="meeting-time"
           name="meeting-time" value="2022-09-21T14:21"
           min="2022-09-21T00:00" max="2022-09-22T00:00">
    <input type="submit" name="Please submit!">
</form>
