@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Luisa Katrina Pangilinan Reyes - date calculator <a href="/Dates">here</a>.</p>
</div>
